:root {
    --game-background: rgb(24, 25, 33);
    --canvas-background: rgb(33, 34, 45);
    --canvas-border: #635c5c;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--game-background);
}


#cnvs {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 560px;
    /* height: auto; */
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--canvas-background);
    border: 2px solid var(--canvas-border);
    box-sizing: border-box;
}

